@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100);

* {
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    vertical-align: middle;
}

label {
    display: block;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    display: block;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.container {
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-weight: normal;
    line-height: 2;

    color: #333;
    background: #fff;
    border-color: #ccc;

    border-radius: 4px;

    margin-top: 2px;
}

.btn-small {
    font-size: 0.9em;
    line-height: 1.1;
}

.btn:active, 
.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:hover {
    outline: 0;
    border-color: #adadad;
    background-color: #e6e6e6;    
}

.btn:active {
    outline: 0;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);    
}

.btn:focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    outline: 5px auto -webkit-focus-ring-color;
}

.btn-block {
    display: block;
    width: 100%;
}

input[type="button"] .btn-block {
    width: 100%;
}

/*Regular btn group*/

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group > .btn {
    position: relative;
    float: left;
}

.btn-group > .btn-group {
    float: left;
}


/* Justified btn group */
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified > .btn {
    float: none;
    display: table-cell;
    width: 1%;
}

.btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;    
}

.btn-group-justified > .btn-group .btn {
    width: 100%;
}

/* btn-group radius corrections */

.btn-group-btn-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none; /*A somewhat hacky way to avoid double borders*/
}

.btn-group-btn-middle {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.btn-group-btn-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;    
}

/* User feedback */
.has-warning {
    border-color: #8a6d3b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-warning:focus, 
.has-warning:hover {
    border-color: #66512c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
    background-color: transparent;
}

.has-error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error:focus, 
.has-error:hover {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    background-color: transparent;
}

.info-text {
    font-size: 0.7em;
}

.info-text > a {
    color: black;
    font-size: inherit;
}

/* Element-specific styling */

.bpm-display {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    line-height: 1.5;

    color: #333;
    background: #fff;

    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 1px;

    padding: 0 0 0 0;

    width: 100%;
    overflow: visible;    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}